h1 {
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}
.actionbar {
    background-color: #007ecc;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0px -1px 10px rgba(0,0,0,0.2);
}
.discovery-list {
    margin: 0;
}
.discovery-list > li {
    font-size: 1.1rem;
    padding: 0 0.5rem;
}

.list-inline > li {
    display: inline-block;
}

#roomlist {
    font-size: 1.2rem;
    line-height: 2.75rem;
}

section {
    overflow-y: auto;
}