h1 {
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    position: relative;
}
.actionbar {
    background-color: #007ecc;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -1px 10px rgba(0,0,0,0.2);
}
.discovery-list {
    margin: 0;
}
.discovery-list > li {
    font-size: 1.1rem;
    padding: 0 0.5rem;
}

.list-inline > li {
    display: inline-block;
}

.roomlist {
    font-size: 1.2rem;
    line-height: 2.75rem;
}

section {
    overflow-y: auto;
}
.box-icon-white {
    background-color: white;
    border: 1px solid black;
    height: calc(1.5em + .75rem + 2px);
    width: calc(1.5em + .75rem + 2px);
    line-height: calc(1.5em + .75rem + 2px);
}
.btn-back {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0;
}
#req-route-btn {
    line-height: 4.5;
    white-space: nowrap;
}

#book.btn-outline-dark:hover {
    color: initial;
    background-color: initial;
    border-color: initial;
}
#common,
#search {
    transition: .6s ease-in;
}
#common {
    height: 100%;
}
#search {
    height: 0;
}
